img {
  height: 10rem;
}
body {
  background-image: url(/assets/images/background.jfif);
  background-size: cover;
}
#playerOne,
#currentOpponent {
  border-width: 1rem;
}
#arena {
  height: 350px;
}
#characterSelect {
  height: 441px;
}
#graveyard {
  height: 430px;
}
